[unstable]
bindeps = true

[alias]
clippy-linux = "clippy --workspace --features linux-kvm --exclude capsa-apple-vz --exclude capsa-apple-vzd --exclude capsa-apple-vzd-ipc"
clippy-macos = "clippy --workspace --features macos-subprocess --exclude capsa-linux-kvm"
test-linux = "test --workspace --features linux-kvm --exclude capsa-apple-vz --exclude capsa-apple-vzd --exclude capsa-apple-vzd-ipc"
test-macos = "test --workspace --features macos-subprocess --exclude capsa-linux-kvm"
bench-linux = "bench --package capsa --features linux-kvm"
bench-macos = "bench --package capsa --features macos-subprocess"

[env]
CAPSA_ENTITLEMENTS = { value = "entitlements.plist", relative = true }

[target.aarch64-apple-darwin]
runner = ["sh", "-c", "exec codesign-run --entitlements \"$CAPSA_ENTITLEMENTS\" \"$@\"", "sh"]

[target.x86_64-apple-darwin]
runner = ["sh", "-c", "exec codesign-run --entitlements \"$CAPSA_ENTITLEMENTS\" \"$@\"", "sh"]
