[unstable]
bindeps = true

[target.aarch64-apple-darwin]
runner = ["codesign-run", "--entitlements", "/Users/luiz/capsa/entitlements.plist"]

[target.x86_64-apple-darwin]
runner = ["codesign-run", "--entitlements", "/Users/luiz/capsa/entitlements.plist"]
